
@{
    ViewData["Title"] = "ExamMonitor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card shadow">
        <div class="fb-image-lg profile-bgExam   ">
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="fb-image-profilex">
                    <h1 class="text-uppercase">Exam Result Inquiry</h1>
                </div>
            </div>
            <div class="row">
                <div class=" col">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="ddlPlanNo">PlanNo</label>
                            @*<input type="email" class="form-control" id="inputEmail4" placeholder="Email">*@
                            @Html.DropDownList("ddlPlanNo", new MultiSelectList(string.Empty, "Value", "Text"), new { @id = "ddlPlanNo", @class = "custom-select custom-select-sm", width = "300px", describedby = "emailHelp" })
                        </div>

                        <div class="form-group col-md-2">
                            <label for="ddlTopic">ExamTopicNo.</label>
                            @Html.DropDownList("ddlTopic", new MultiSelectList(string.Empty, "Value", "Text"), new { @id = "ddlTopic", @class = "custom-select custom-select-sm", width = "300px", describedby = "emailHelp" })

                        </div>
                        <div class="form-group col-md-2">
                            <label for="ddlExamSet">ExamSet.</label>
                            @Html.DropDownList("ddlExamSet", new MultiSelectList(string.Empty, "Value", "Text"), new { @id = "ddlExamSet", @class = "custom-select custom-select-sm", width = "300px", describedby = "dd/mm/yyyy" })

                        </div>
                        <div class="form-group col-md-2">
                            <label for="ddlOperator">Operator</label>
                            @Html.DropDownList("ddlOperator", new MultiSelectList(string.Empty, "Value", "Text"), new { @id = "ddlOperator", @class = "custom-select custom-select-sm", width = "300px", describedby = "dd/mm/yyyy" })
                        </div>

                        @*</div>
                            <div class="form-row">*@
                        <div class="form-group col-md-2">
                            <label for="inputEmail4">StartDate</label>
                            <input type="text" class="form-control  form-control-sm datepikers" id="txtStartTime" placeholder="dd/mm/yyyy">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputPassword4">EndDate</label>
                            <input type="text" class="form-control  form-control-sm datepikers" id="txtEndTime" placeholder="dd/mm/yyyy">
                        </div>
                    </div>
                    <button class="btn btn-success" id="btnSearch"> <i class="fa fa-search"></i> search</button>
                    <button class="btn btn-warning" id="btnClear"> <i class="fas fa-sync-alt"></i> clear</button>
                </div>

            </div>

            <div class=" p-3">
                <table class="table table-hover table-sm bg-white w-100" id="tbItemCatg">
                    <thead class="bg-light">
                        <tr>
                            <th class="text-center">planNo</th>
                            <th class="text-center">Topic</th>
                            <th class="text-center">Set</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">timeuse</th>
                            <th class="text-center">startTime</th>
                            <th class="text-center">Endtime</th>
                            <th class="text-center">Correct</th>
                            <th class="text-center">Wrong</th>
                            <th class="text-center">Total</th>
                            <th class="text-center">result</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <link href="~/lib/datatables/Css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/Js/jquery.dataTables.min.js"></script>



    <script type="text/javascript">
        var myTables1;
        var Arrs = [];
       $(document).ready(function () {
           InitTable();
           GetData();
       });
        function InitTable() {
            GetDDL();
           datePickersSE = $('.datepikers').datepicker({
               language: 'en',
               dateFormat: 'dd/M/yyyy',
               minView: 'days',
               view: 'days',
               maxDate: new Date()
           }).data('datepicker');

           myTables1 = $("#tbItemCatg").DataTable({
               ordering: true,
               processing: true,
               dom: '<"top"l>rt<"bottom"ip><"clear">',
               columns: [
                   { data: "planRefID", name: "PlanRefID", class: "text-wrap  " },
                   { data: "itemCategName", name: "ItemCategName", class: "text-wrap  " },
                   { data: "itemName", name: "ItemName", class: "text-wrap  " },
                   { data: "operatorName", name: "OperatorName", class: "text-wrap  " },
                   { data: "minutes", name: "Minutes", class: "text-wrap  " },
                   { data: "startTime", name: "StartTime", class: "text-wrap  " },
                   { data: "endTime", name: "EndTime", class: "text-wrap  " },
                   { data: "correct", name: "Correct", class: "text-wrap  " },
                   { data: "wrong", name: "Wrong", class: "text-wrap  " },
                   { data: "total", name: "Total", class: "text-wrap  " },
                   { data: "results", name: "Results", class: "text-wrap  " },


                   @*{
                       data: null,
                       name: null,
                       className: "center",
                       "fnCreatedCell": function (nTd, oData) {
                           var itemCateg = oData.itemCateg;
                           var HTMLTag = "";
                           var TEST = "@ViewBag.Itemcateg";
                           HTMLTag = '<a href="@Url.Action("Examexamination")?ItemInput=' + itemCateg + '&ItemCateg=' + TEST+'"  class="btn btn-warning btn">    SELECT</a>';
                           $(nTd).html(HTMLTag);
                       }, className: "dt-body-center"
                   },*@
               ],
               order: [0, "asc"],
           });

        }
        function GetDDL() {
            GetDataDDL("PlanRefID", "#ddlPlanNo");
            GetDataDDL("ItemCateg", "#ddlTopic");
            GetDataDDL("ItemCode", "#ddlExamSet");
            GetDataDDL("OperatorID", "#ddlOperator");
        }
        function GetDataDDL(_strCriteria,_control) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetComtrolddl", "UIExam")',
                dataType: 'json',
                data: { strCriteria: _strCriteria },
                success: function (citys) {
                    var Listdata = citys.data;
                    if (Listdata.length != 0) {
                        $.each(Listdata, function (i, city) {
                            $(_control).append('<option value="' + city.value + '">' + city.text + '</option>');
                        });
                    }
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
        }
        $("#btnSearch").on("click", function () { 
            GetDates();
        });
        $("#btnClear").on("click", function () {
            $(".custom-select").val("");
            $("input:text").val("");
            myTables1.clear().draw();
        });
        function GetDates() {
               Arrs = [{
                PlanRefID: $("#ddlPlanNo").val()
                , ItemCateg: $("#ddlTopic").val()
                , ItemCode: $("#ddlExamSet").val()
                , OperatorID: $("#ddlOperator").val()
                , StartTime: $("#txtStartTime").val()
                , EndTime: $("#txtEndTime").val()
            }];
             
           $.ajax({
                type: 'POST',
                url: '@Url.Action("GetExamResultList", "UIExam")',
                dataType: 'json',
               data: { strCtrl: Arrs[0] },
               success: function (Data) { 
                    myTables1.clear().draw();
                    if ( Data.strResult == "OK") {
                        myTables1.rows.add(Data.data).draw(); 
                    } else {
                        Swal.fire({
                            icon: 'warning',
                            title: Data.dataLabel,
                            type: 'error',
                            timer: 1700,
                        }).then(function () {
                            return false;
                        }); 
                    }; 
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
        }
    </script>
}
