@using System.Security.Claims
@{
    ViewData["Title"] = "UserDetailMaintenance";
    Layout = "_Layout";
}

<style>
    .active {
        color: red;
    }
</style> 

<div class="mt-1 mb-3 button-container bg-white border shadow-sm">
     
    <div class="row  ">
        <div class="col-12 ">
            <div class="fb-profile bg-white mt-3">
                <div  class="fb-image-lg profile-bgx"> 
                </div>
                <img align="left" class="fb-image-profile thumbnail shadow-sm p-0" src="@ViewBag.imgProfileUserDetail" style="" alt="Profile  image example" id="imgUserProfile" />
                <div class="fb-profile-text">
                    <h1 id="NameUserProfile">@ViewBag.NameEngUserDetail</h1>
                    <p id="jobUserProfile">@ViewBag.JobTitleUserDetail</p>
                </div>
            </div>

        </div>
    </div>
     
    <div class="row  text-center">

        <div class="col-8">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <a class="navbar-brand" href="#">Menu</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a onclick="switchMenu('_partsUserInfo');" value="_partsAdditional" id="_partsUserInfo" class="nav-link active">Info</a>
                        </li>
                        <li class="nav-item  ">
                            <a onclick="switchMenu('_partsUserDetail');" value="_partsAdditional" id="_partsUserDetail" class=" nav-link">UserDetail</a>
                        </li>
                        <li class="nav-item  ">
                            <a onclick="switchMenu('_partsAdditional');" value="_partsAdditional" id="_partsAdditional" class=" nav-link">AdditionDepartment</a>
                        </li>
                        <li class="nav-item  ">
                            <a onclick="switchMenu('_partsTrainning');" value="_partsAdditional" id="_partsTrainning" class=" nav-link">Trainingrecords</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
        <div class="col-4">
            <div class="input-group form-inline my-2 my-lg-0 float-right">
                @Html.TextBox("strOPNo", null, new { @class = "form-control  ", placeholder = "Search Staff Code..", id = "strOPNo" })
                <div class="input-group-append">
                    <button class="btn btn-theme btn-sm" type="button" onclick="" id="btnSearch" style="display:none;">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="form-row ">
            <div class="col">
                <div id="DestinationLayoutDiv">
                    @await Html.PartialAsync("/Views/Shared/_partsUserManage/_partsUserInfo.cshtml")
                </div>
            </div>
        </div>


        @section scripts{


            <link href="~/lib/datatables/Css/jquery.dataTables.min.css" rel="stylesheet" />
            <script src="~/lib/datatables/Js/jquery.dataTables.min.js"></script>
            <script src="~/lib/CustomJS/ScriptUserManage/Additional.js"></script>
            <script src="~/lib/CustomJS/ScriptUserManage/UserManagemant.js"></script>

            <script type="text/javascript">

        $(document).ready(function () {
            $("#strOPNo").on("keyup", function (event) {
                if (event.keyCode == 13) {
                    $("#btnSearch").click();
                    return false;
                }
            });

            $("#btnSearch").on("click", function (event) {
                GetuserDetail();
            });

            if ("@User.FindFirst(claim => claim.Type == ClaimTypes.Role)?.Value" == "User") {

                $("#strOPNo").attr("readonly", "readonly")

                $("#strOPNo").val("@User.Identity.Name");
                GetuserDetail();
            } else if ("@User.FindFirst(claim => claim.Type == ClaimTypes.Role)?.Value" == "Admin") {
                $("#NavAdminBar").css("display", "block")
                $("#btnSearch").css("display", "block")
            }
        });

        function switchMenu(sss) {
            $('.active').removeClass('active');
            $.ajax({
                url: '@Url.Action("switchMenu")',
                data: { param: sss},
                type: 'GET',
                success: function (data) {

                    $('#DestinationLayoutDiv').html(data);
                    $('#' + sss).addClass(' active');
                    window.Getinitial();
                }
            });
        }

            </script>
        }
