@model IPagedList<RISTExamOnlineProject.Models.db.sprOperatorShowListInCharge>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, PagedList.Core.Mvc
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@{
    ViewData["Title"] = "UserInCharge";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var requestlist = (IEnumerable<TempReqChange>)TempData.Get<TempReqChange>("key");
}
@section Styles
    {
    <link href="~/lib/XpageList/PagedList.css" rel="stylesheet" />
}

@*<h5 class="mb-0">
        <strong>Request Change</strong>
    </h5>
    <span class="text-secondary">User In-Charge <i class="fa fa-angle-right"></i> User list</span>*@

    <div class="card">
        <div class="fb-image-lg profile-bg2   "  >
           
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="fb-image-profilex text-center">
                    <h1 class="text-uppercase">Request Change</h1>
                    
                </div>
            </div>

            <div class="table-responsive">
                <div class="row mt-3 shadow">
                    <div class="col-sm-12">
                        <div class="mt-1 mb-3  bg-white border shadow-sm">
                            <table class="table table-striped ">
                                <thead class="bg-light">
                                    <tr>
                                        <th>
                                            OperatorID
                                        </th>
                                        <th>
                                            NameThai
                                        </th>
                                        <th>
                                            SectionName
                                        </th>
                                        <th>
                                            Position
                                        </th>
                                        <th>
                                            JobTitle
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OperatorID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NameThai)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SectionName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Position)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.JobTitle)
                                            </td>
                                            <td>
                                                <a asp-action="EditUserInCharge" asp-route-opnoedit="@item.OperatorID.Trim()"><i class="far fa-edit"></i> Edit</a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                        <div class="text-right">
                            @Html.PagedListPager(Model, page => Url.Action("UserInCharge", new { page, ViewBag.opno }), PagedListRenderOptionsBase.OnlyShowFivePagesAtATime)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@if (ViewBag.Collection != null)
{
    <span class="text-secondary">User list Request</span>
    <div class="row mt-3">
        <div class="col-sm-12">

            <div class="mt-1 mb-3  bg-white border shadow-sm">
                <table class="table table-striped ">
                    <thead class="table-danger">
                        <tr>
                            <th>
                                OPNO
                            </th>
                            <th>
                                SectionCode
                            </th>
                            <th>
                                Section Additional
                            </th>
                            <th>
                                Shift
                            </th>
                            <th>
                                License
                            </th>
                            <th>
                                Resign Active
                            </th>
                        </tr>

                    </thead>
                    <tbody>

                        @foreach (var item in ViewBag.Collection)

                        {
                            <tr>
                                <td>
                                    @item.OperatorID
                                </td>
                                <td>
                                    @item.SectionCode
                                </td>
                                <td>
                                    @item.SectionAttribute
                                </td>
                                <td>
                                    @item.Shift
                                </td>
                                <td>
                                    @item.License
                                </td>
                                <td>
                                    @item.ResignStatus
                                </td>
                            </tr>
                        }


                    </tbody>


                </table>

            </div>
            <div class="form-group">
                @Html.ActionLink("Send Request", "SaveForm", new { opno = ViewBag.opno }, new { @class = "btn btn-success" })
                @*<input type="submit" value="Send Request" class="btn btn-success" />*@
                @*<input type="submit" value="Send Request" class="btn btn-success"/>*@
            </div>



        </div>
    </div>
}

