@using System.Security.Claims
@*@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers*@
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Meta Responsive tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/lib/img/Logo_ROHM.png">
    <title>@ViewBag.Title</title>


    <environment include="Development">
        <!--Bootstrap CSS-->
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <!--Custom style.css-->
        <link href="~/lib/Custom/style.css" rel="stylesheet" />
        <!--Font Awesome-->

        <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
        <script src="~/lib/js/sweetalert.min.js"></script>

        <!--FOR IE9-->
        <script src="~/lib/html5shiv/html5shiv.js"></script>
        <script src="~/lib/respond.js/respond.js"></script>

        <!-- tempusdominus-bootstrap-4 datetimepicker -->
        <link rel="stylesheet" href="~/lib/datepicker/css/tempusdominus-bootstrap-4.css">
        <!-- tempusdominus-bootstrap-4 -->


        <link href="~/lib/Custom/datepicker.css" rel="stylesheet" />
        <link href="~/lib/XpageList/PagedList.css" rel="stylesheet" />
        <script type="text/javascript" src="~/lib/jquery-2.1.1.min.js"></script>

        @*<script type="text/javascript" src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>*@
        @*<script src="https://code.jquery.com/jquery-3.5.1.js" defer></script>
        <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js" defer></script>*@
    </environment>
    @await RenderSectionAsync("Styles", false)


    <style type="text/css">
        .btn_response {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .table > tbody > tr > td {
            vertical-align: middle;
        }

    </style>


</head>
<body>

    <!--Page Wrapper-->


    <partial name="_CookieConsentPartial" />
    <!--Header-->
    <div class="row header shadow-sm" style="z-index:5;">

        <!--Logo-->
        <div class="col-sm-3 col-md-6 col-lg-4 col-xl-3 pl-0 text-center header-logo">
            <div class="bg-theme mr-3 pt-3 pb-2 mb-0">
                <h3 class="logo">
                    <a href="@Url.Action("index","Home")" class="text-secondary logo"><i class="fa fa-book"></i> Skill Test<span class="small"> Online</span></a>
                </h3>
            </div>
        </div>
        <!--Logo-->
        <!--Header Menu-->
        <div class="col-sm-9 col-md-6 col-lg-8 col-xl-9">
            <div class="row">
                <!--Menu Icons-->
                <div class="col-sm-4 col-xl-4 col-8 pl-0">
                    <!--Toggle sidebar-->
                    <div class="   ">
                        <span class="menu-icon bg-white  text-white" style=" padding: 6px;   border-radius: 50%;  height: 37px;  width: 37px; " onclick="toggle_sidebar()">
                            <span id="sidebar-toggle-btn" class="text-white"></span>
                        </span>
                    </div>
                </div>
                <!--Menu Icons-->
                <!--Search box and avatar-->

                <div class="col-sm-8 col-xl-8 col-4 text-right flex-header-menu justify-content-end">

                    <div class=" ">
                        <a class="nav-link" href="#" role="button" id="dropdownMenuLink" onclick="toggle_dropdown(this);return false;" data-toggle="dropdownx" aria-haspopup="true" aria-expanded="false" title="Account">
                            <i class="fas fa-ellipsis-h Icons"></i>

                        </a>
                        <div class="dropdown dropdown-right text-left bg-white shadow border mt-13" style="width:333px; border-radius: 5px;" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-item">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="@ViewBag.imgProfile" alt="" class="mt-2 profiles shadow-sm" style="width:60px;   border:3px solid white" />
                                    </div>
                                    <div class="col-9">
                                        <div class="pt-3">
                                            <span class=""><strong id="strName">@ViewBag.NameEng</strong></span>
                                            <p class="font-weight-bold small">@User.Identity.Name   @User.FindFirst(claim => claim.Type == ClaimTypes.Role)?.Value</p>
                                            <a class="btn btn-light btn-sm" href="@Url.Action("UserDetailMaintenance","Management")">
                                                <span class="small"> View profile</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @* <div class="dropdown-divider"></div>*@

                            <a href="@Url.Action("Logout", "Account")" class="dropdown-item">
                                <div class="pt-3 pb-3   ">
                                    <i class="  fas fa-power-off  Icons"></i> Logout
                                </div>
                            </a>

                        </div>
                    </div>

                </div>
                <!--Search box and avatar-->
            </div>
        </div>
        <!--Header Menu-->
    </div>
    <!--Header-->
    <!--Main Content-->



    <div class="row">

        <!--Sidebar left-->
        <div class="col-sm-3 col-md-6 col-lg-4 col-xl-3  sidebar pl-0">
            <div class="inner-sidebar mr-3 ">
                <!--Image Avatar-->
                <div class="avatar text-center  ">
                    <div class="avatarX avatarProfile ">
                        <div class="avatarY">
                            <img src="@ViewBag.imgProfile" alt="" class="rounded-circle profiles " />

                            <p><strong id="strName1">@ViewBag.NameEng</strong></p>
                            <span class="  small"><strong id="strJobTitle">@ViewBag.JobTitle</strong></span>
                        </div>
                    </div>
                </div>
                <!--Image Avatar-->
                <!--Sidebar Navigation Menu-->
                <div class="sidebar-menu-container ">
                    <ul class="sidebar-menu   mb-4">
                        <li class="parent hideme">
                            <a href="#" class="" onclick="toggle_menu('Dashboard_list');return false;">
                                <i class="fas fa-link mr-3"></i>
                                <span class="none no-arrow ">Dashboard <i class="fa fa-angle-down pull-right align-bottom"></i></span>
                            </a>

                            <ul class="#" id="Dashboard_list">
                                <li class="child"><a href="@Url.Action("index","Home")" class="ml-4"><i class="fa fa-angle-right mr-2"></i>Dashboard</a></li>
                                <li class="child "><a href="@Url.Action("Dashboard_Detail","Home")" class="ml-4"><i class="fa fa-angle-right mr-2 "></i>Dashboard detail</a></li>

                            </ul>
                        </li>


                        @if (User.Identity.IsAuthenticated)
                        {
                            //   var userRoles = "";
                            //



                            var Authority = 0;




                    @if (User.IsInRole("Admin"))
                    {
                        //  userRoles = "Admin";
                        Authority = 9;

                    }
                    else if (User.IsInRole("Training"))
                    {
                        //   userRoles = "Training";
                        Authority = 7;
                    }
                    else
                    {
                        Authority = 0;
                        //   userRoles = "User";
                    }





                                    @if (Authority >= 7)
                                    {

                    <li class="parent hideme">
                        <a href="#" class=" " onclick="toggle_menu('Shortcuts');return false;">
                            <i class="fas fa-link mr-3"></i>
                            <span class="none no-arrow ">UserManagement <i class="fa fa-angle-down pull-right align-bottom"></i></span>
                        </a>

                        @{ var opno = @User.Identity.Name; }
                        <ul class="#" id="Shortcuts">
                            <li class="child "><a href="@Url.Action("UserDetailMaintenance","Management")" class="ml-4"><i class="fa fa-angle-right mr-2 "></i>Edit User detail</a></li>
                            <li class="child"><a href="@Url.Action("UserInCharge", "Management" , new { opno=$"{opno.Trim()}"})" class="ml-4"><i class="fa fa-angle-right mr-2"></i>Request Change</a></li>
                            <li class="child"><a href="@Url.Action("TEC_Approved","TEC_Management")" class="ml-4"><i class="fa fa-angle-right mr-2"></i>TEC Approved</a></li>
                            <li class="child"><a href="@Url.Action("UserReqeustInqury","Management")" class="ml-4"><i class="fa fa-angle-right mr-2"></i>Request Inquiry</a></li>
                        </ul>
                    </li>
                                        <li class="parent hideme">
                                            <a href="#" class=" " onclick="toggle_menu('Shortcuts_exam');return false;">
                                                <p style="white-space:nowrap;">
                                                    <i class="fas fa-tasks mr-3"></i>
                                                    <span class="none no-arrow">ExamManagement <i class="fa fa-angle-down pull-right align-bottom"></i></span>
                                                </p>
                                            </a>
                                            <ul class="#" id="Shortcuts_exam">

                                                <li class="child"><a href="@Url.Action("Index","ItemCategoryMaster")" class="ml-4"><i class="fa fa-angle-right mr-2"></i>License Master</a></li>
                                                <li class="child"><a href="@Url.Action("ItemCode_Management","ItemCodeMaster")" class="ml-4"><i class="fa fa-angle-right mr-2"></i>Itemcode Master</a></li>
                                                <li class="child"><a href="@Url.Action("Exam_maintenance","exam")" class="ml-4"><i class="fa fa-angle-right mr-2"></i>Exam Management</a></li>
                                                <li class="child"><a href="@Url.Action("Exam_Approved","exam")" class="ml-4"><i class="fa fa-angle-right mr-2"></i>Exam Approved</a></li>
                                                <li class="child"><a href="@Url.Action("ExamResultMonitor","UIExam")" class="ml-4"><i class="fa fa-angle-right mr-2"></i>Exam Result Monitoring</a></li>

                                            </ul>
                                        </li>}
                                                    @if (Authority >= 7)
                                                    {
                                    <li class="parent hideme">

                                        <a href="#" class=" " onclick="toggle_menu('Shortcuts_Practical');return false;">
                                            <p style="white-space:nowrap;">
                                                <i class="fas fa-diagnoses mr-3"></i>
                                                <span class="none no-arrow">Practical <i class="fa fa-angle-down pull-right align-bottom"></i></span>
                                            </p>
                                        </a>
                                        <ul class="#" id="Shortcuts_Practical">
                                            @*--  <a href="@Url.Action("Index","PracticalExam")">*@
                                            <li class="child "><a href="@Url.Action("PracticalManagement","PracticalExam")" class="ml-4"><i class="fa fa-angle-right mr-2"></i>Practical Management </a></li>
                                            <li class="child "><a href="@Url.Action("Index","PracticalExam")" class="ml-4"><i class="fa fa-angle-right mr-2"></i>Practical Online </a></li>
                                            <li class="child"><a href="@Url.Action("PracticalReport","PracticalExam")" class="ml-4"><i class="fa fa-angle-right mr-2"></i>Practical Report</a></li>
                                            <li class="child"><a href="@Url.Action("PracticalViewPlan","PracticalExam")" class="ml-4"><i class="fa fa-angle-right mr-2"></i>Practical Plan Detail</a></li>



                                        </ul>

                                    </li>}}

                        <li class="parent hideme">
                            <a href="@Url.Action("LicenceList","UIExam")">
                                <i class="fas fa-stream mr-3"></i>     <span class="none">Exam</span>
                            </a>
                        </li>






                    </ul>



                </div>
                <!--Sidebar Naigation Menu-->
            </div>
        </div>
        <!--Sidebar left-->
        <!--Content right-->

        <div class="col-sm-10 col-md-6 col-lg-8 col-xl-9  content pt-3 pl-0">


            <div class="container-fluid fade-in">

                @RenderBody()

            </div>



        </div>


        <div class="modal" tabindex="-1" role="dialog" id="form-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>
        <!--Footer-->
        @*<div class="row mt-5 mb-4 footer">
                <div class="col-sm-8">
                    <span>&copy; All rights reserved 2020 designed by <a class="text-theme" href="#">IS-SYSTEM</a></span>
                </div>
                <div class="col-sm-4 text-right">
                    <a href="#" class="ml-2">Contact Us</a>
                    <a href="#" class="ml-2">Support</a>
                </div>
            </div>*@
        <!--Footer-->
        @*<div class="loaderbody" id="loaderbody">
                <div class="loader"></div>
            </div>*@

    </div>

    <!--Main Content-->
    <!--Page Wrapper-->


    <environment include="Development">
        <!-- Page JavaScript Files-->
        @*<script src="~/lib/js/jquery.min.js"></script>
            <script src="~/lib/js/jquery-1.12.4.min.js"></script>*@
        <script src="~/lib/jquery/jquery.js"></script>

        <!--Popper JS-->
        <script src="~/lib/js/popper.min.js"></script>
        <!--Bootstrap-->
        @*<script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>*@
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <!--Sweet alert JS-->
        <script src="~/lib/js/sweetalert.js"></script>
        <!--Progressbar JS-->
        <script src="~/lib/js/progressbar.min.js"></script>
        <!--Flot.JS-->
        <script src="~/lib/js/charts/jquery.flot.min.js"></script>
        <script src="~/lib/js/charts/jquery.flot.pie.min.js"></script>
        <script src="~/lib/js/charts/jquery.flot.categories.min.js"></script>
        <script src="~/lib/js/charts/jquery.flot.stack.min.js"></script>
        <!--Chart JS-->
        <script src="~/lib/js/charts/chart.min.js"></script>
        <!--Chartist JS-->
        <script src="~/lib/js/charts/chartist.min.js"></script>
        <script src="~/lib/js/charts/chartist-data.js"></script>
        <script src="~/lib/js/charts/demo.js"></script>


        <!--Custom Js Script-->
        <script src="~/lib/js/custom.js"></script>
        <!--Custom Js Script-->
        @*<script>
                //Nice select
                $('.bulk-actions').niceSelect();
            </script>*@
        <!-- tempusdominus-bootstrap-4 -->



        <script src="~/lib/datepicker/jquery/jquery.js"></script>
        <script src="~/lib/datepicker/momentjs/moment.js"></script>
        <script src="~/lib/datepicker/js/tempusdominus-bootstrap-4.js"></script>


        <!-- tempusdominus-bootstrap-4 -->
        <!--bootstrap-select-->
        @*<script src="~/lib/bootstrap-select/js/bootstrap-select.js"></script>*@
    </environment>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/lib/js/site.js"></script>
    <script src="~/lib/js/notify.min.js"></script>


    <script src="~/lib/js/datepicker.js"></script>



    @*<script src="~/lib/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/js/notify.min.js" asp-append-version="true"></script>*@

    @RenderSection("Scripts", required: false)
    @* @await RenderSectionAsync("Scripts", false)*@
    <script>

        function warning() {

            //$.ajax({
            //    type: 'POST',
            //    url: "../Account/DeleteOperatorOnline",
            //    success: function (Data) {

            //    }
            //});
            /*  doSomething()*/
            //U can write any custom message here.
        }

        window.onbeforeunload = warning;
        console.log(performance.navigation.type);
        console.log(PerformanceNavigation);
        if (performance.navigation.type == PerformanceNavigation.TYPE_RELOAD) {

            $.ajax({
                type: 'POST',
                url: "../Account/InsertOperatorOnline",
                success: function (Data) {
                }
            });
        } else {

            $.ajax({
                type: 'POST',
                url: "../Account/InsertOperatorOnline",
                success: function (Data) {
                }
            });
        }
        window.onunload = function () {
            var nothing = doSomething();
        }

        function doSomething() {
            $.ajax({
                type: 'POST',
                url: "../Account/DeleteOperatorOnline",
                success: function (Data) {
                }
            });
        }

        $(document).ready(function () {

            Profile();

        });


        function Profile() {
            if ("@User.Identity.Name" == "") {
                window.location.href = "@Url.Action("Logout", "Account")";
                return true;
            }
            $.ajax({
                type: 'POST',
                url: "../Home/Profile",
                   data: { OPID: "@User.Identity.Name" },
                dataType: 'json',
                success: function (Data) {

                    $(".profiles").attr("src", Data.data);/*text(Data.data);*/
                    $("#strName").text(Data.strName);
                    $("#strName1").text(Data.strName);
                    $("#strJobTitle").text(Data.strJobTitle);
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });

        }
    </script>
</body>
</html>