@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<RISTExamOnlineProject.Models.db.ItemCategoryModel>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var pageCurrent = ViewBag.pageCurrent;


}

@*<h3 class="text-center"><i class="fas fa-list text-success"></i> </h3>*@
<div class="card">
    <div class="fb-image-lg profile-bg2   ">

    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="fb-image-profilex">
                <h1 class="text-uppercase">Item Category Master List</h1>
            </div>
        </div>
        <div class="row justify-content-center">
           
        </div>
        <div class="mt-1 mb-3  bg-white border shadow table-responsive">

            <table class="table">
                <thead class="bg-light">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.First().ItemCateg)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().ItemCategName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().ItemCategType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().AddDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().UpdDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().ComputerName)
                        </th>
                        <th>
                            <a onclick="showInPopup('@Url.Action("AddOrEdit", "ItemCategoryMaster", null, Context.Request.Scheme)', 'New ItemCategory Master')" class="btn btn-success text-white"><i class="fas fa-random"></i> New ItemCategory</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemCateg)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemCategName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemCategType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ComputerName)
                        </td>
                        <td>
                            <div>
                                <a onclick="showInPopup('@Url.Action("AddOrEdit", "ItemCategoryMaster", new {id = item.Nbr, page = pageCurrent}, Context.Request.Scheme)', 'Update ItemCategory')" class="btn btn-info btn-sm text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                                <form asp-action="Delete" asp-route-id="@item.Nbr" asp-route-page="@ViewBag.pageCurrent" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                                    <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Delete</button>

                                </form>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="text-right">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>
